<!doctype html>
<html>
{{> header}}
<body>
    {{> banner navigation}}
    <div class="container">
        <ul>
            {{#each articles}}
            <li class="article-item">
                <a href="/articles/{{this.id}}.html" class="h1">{{this.title}}</a>
                <p class="article-meta">
                    Tags:{{#each this.tags}}<a href="/tags.html#{{this}}" class="tag">{{this}}</a>{{/each}} | 发布于:{{this.createTime}}
                </p>
            </li>
            {{/each}}
        </ul>
    </div>
    {{> footer}}
    {{> footer_plugin}}
</body>

</html>
