<!doctype html>
<html>
{{> header}}

<body>
    {{> banner navigation}}
    <div class="container">
        <div class="tag-clound">
            {{#each tags}}
            <a class="tag" href="#{{@key}}">
                {{@key}}<span class="tag-count">×{{this.length}}</span>
            </a>
            {{/each}}
        </div>
        <div class="tag-articles-container">
            {{#each tags}}
            <a class="tag-title" name="{{@key}}">
                {{@key}}
            </a>
            <ul class="tag-ul">
                {{#each this}}
                <li>
                    <a href="/articles/{{id}}.html">{{title}}</a>
                </li>
                {{/each}}
            </ul>
            {{/each}}
        </div>
    </div>
    {{> footer}}
    {{> footer_plugin}}
</body>

</html>
