<div id="left-bar">
    <div class="gravatar">
        <a href="/">
            <img src="{{gravatar}}" />
        </a>
    </div>
    <div class="web-fun">
        <a href="/" class="fa fa-home fun"></a>
        <a class="fa fa-search fun"></a>
        <a class="fa fa-folder-open fun"></a>
    </div>
    <hr></hr>
    <div class="account">
        <ul>
            <li><span><i class="fa fa-map-marker"></i> {{city}}&nbsp;&nbsp;{{author}}</span>
            </li>
            <!--
            <li><span><i class="fa fa-github"></i> zackwoo</span></li>
            <li><span><i class="fa fa-weibo"></i> 地有油</span></li>
            <li><span><i class="fa fa-qq"></i> MZ</span></li>
-->
        </ul>
    </div>
    <hr></hr>
    <div class="Category">
        {{#each this.tags}}
        <a class="tag" href="/tags.html#{{@key}}">
            <span><i class="fa fa-tag"></i>
                {{@key}}
            </span>
        </a>
        {{/each}}
    </div>
</div>
